{% extends "layouts/base.html" %}

{% block title %}Órdenes{% endblock %} 

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Última Millas</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Órdenes</li>
              </ol>
          </nav>
          <h2 class="h4">Órdenes</h2>
          <p class="mb-0">Tablero de Órdenes de Clientes Última Milla APP</p>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
        <!-- <a href="#" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">-->
            <form action="/api" method="post" enctype="multipart/form-data">
              <label class="btn btn-primary">
                Agregar Archivo
                <input type="file" name="file" style="display: none;">
                <button type="submit" class="btn btn-primary">Solicitar Ordenes</button>
                
                 
              </label>
            </form>
          </a>
            
          <div class="btn-group ms-2 ms-lg-3">
              <!--<button type="submit" class="btn btn-primary">Solicitar Órdenes</button>   -->
              <button type="button" class="btn btn-sm btn-outline-gray-600">Actualizar</button>
              <button type="button" class="btn btn-sm btn-outline-gray-600">Exportar</button>
          </div> 
      </div>
  </div>
  
  <div class="table-settings mb-4">
      <div class="row align-items-center justify-content-between">
          <div class="col col-md-6 col-lg-3 col-xl-4">
              <div class="input-group me-2 me-lg-3 fmxw-400">
                  <span class="input-group-text">
                      <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M9 18a9 9 0 100-18a9 9 0 000 18zM7.707 8.293a1 1 0 010-1.414L9.9.3a1 1 0 111.414 1.414l-2.193 2.193a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                      </svg>
                  </span>
                  <input type="text" class="form-control" placeholder="Buscar">
              </div>
          </div>
          <div class="col-auto">
              <button type="button" class="btn btn-white filter-btn" data-bs-toggle="modal" data-bs-target="#settingsPanel">
                  <svg class="icon icon-xs text-gray-400" x-description="Heroicon name: solid/sliders" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5 4h10a1 1 0 011 1v1a1 1 0 01-1 1H5a1 1 0 01-1-1V5a1 1 0 011-1zm0 6h10a1 1 0 011 1v1a1 1 0 01-1 1H5a1 1 0 01-1-1v-1a1 1 0 011-1zM4 13h6a1 1 0 110 2H4a1 1 0 110-2zm10 0h2a1 1 0 110 2h-2a1 1 0 110-2zm-6 3h6a1 1 0 011 1v1a1 1 0 01-1 1H5a1 1 0 01-1-1v-1a1 1 0 011-1z" clip-rule="evenodd"></path>
                  </svg>
                  <span class="visually-hidden">Ajustes</span>
              </button>
          </div>
      </div>
  </div>
  
  <div class="card card-body shadow-sm table-wrapper table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th># de Orden</th>
                  <th>Port ID</th>
                  <th>Nombre del Tecnico</th>
                  <th>Dirección</th>
                  <th>Terminal</th>
                  <th>Cliente Nombre</th>
                  <th>Cliente VAT</th>
                  <th>Latitud</th>
                  <th>Longitud</th>
                  <th>Estado</th>
                  <th>Acción</th>
                  <th></th>
              </tr>
          </thead>
          <tbody id="dataBody">
            <form method="post" action="" class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="form-title mb-3 text-center">
            {% if data %}
                {% for item in data %}
                    {% for port in item.ports %}
                        <tr>
                            <td>{{ port.OrderID}}</td>
                            <td>
                             <select class="custom-select">
                                <option>Puerto: 80</option>
                                <option>Puerto: 8090</option>
                                <option>Puerto: 8085</option>
                                <option>Puerto: 8090</option>
                            </select>
                            
                            </td>
                            <td><input type="text" class="form-label is valid" id="firstName" value="{{ item.name_tech}}"></td>
                            
                            <td>{{ port.client_address }}</td>
                            <td>{{ item.name_tech}}</td>                                                     
                            <td>{{ port.client_name }}</td>
                            <td>{{ port.client_vat }}</td>                            
                            <td><a href="https://google.com/">{{port.client_longitud }}</a></td>
                            <td><a href="google.com/">{{ port.client_latitud }}</a></td>
                            
                            
                          <td>
                                <select class="custom-select">
                                    <option>Abierto</option>
                                    <option>Pendiente</option>
                                    <option>Avería</option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-secondary">Actualizar</button>
                                
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}
                </div>
                </form>
        </tbody>
        
      </table>
      <nav class="mt-4" aria-label="Table navigation">
          <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                      <svg class="icon icon-xs" x-description="Heroicon name: solid/chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M11.293 5.293a1 1 0 010-1.414L7.414 10l3.879 3.879a1 1 0 11-1.414 1.414l-4.586-4.586a1 1 0 010-1.414l4.586-4.586a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                      </svg>
                      Anterior
                  </a>
              </li>
              <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="#">
                      Siguiente
                      <svg class="icon icon-xs" x-description="Heroicon name: solid/chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M8.707 14.707a1 1 0 010-1.414L12.586 10l-3.879-3.879a1 1 0 011.414-1.414l4.586 4.586a1 1 0 010 1.414l-4.586 4.586a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                      </svg>
                  </a>
              </li>
          </ul>
      </nav>
  </div>

{% endblock %}

<!-- Specific Page JS goes HERE -->
{% block scripts %}{% endblock %}
